html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #222;
  font-family: monospace;
  position: relative;
}

.tutorial {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.8);
  pointer-events: none;
}
.tutorial__half {
  width: 50%;
  height: 100%;
  color: #fff;
  font-size: 18pt;
  text-align: center;
  text-decoration: underline;
  line-height: 100vh;
  user-select: none;
}
.tutorial__half:not(:last-child) {
  box-shadow: inset -1px 0 0 0 #fff;
}

.pause-indicator {
  display: none;
  position: absolute;
  top: 32px;
  left: 32px;
  width: 12px;
  height: 16px;
  border: solid 0 #fff;
  border-width: 0 2px;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

a {
  display: block;
  padding: 2em;
  color: #00ffd7;;
  font-size: 80%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}
